.row
  .col-md-12
    #tab{:role => "tabpanel"}
      %ul.nav.nav-tabs{:role => "tablis"}
        - a_v_question.children_questions.each_with_index do |question, index|
          %li{:class => "#{index == 0 ? 'active' : ''}"}
            %a{:href => "#question#{index+1}", :role => "tab",  :data => { :toggle => "tab"}}= "Qn# #{index+1}"
    #tab-content.tab-content
      - a_v_question.children_questions.each_with_index do |question, index|
        %div{:id => "question#{index+1}", :class => "tab-pane #{index == 0 ? 'active' : ''}"}
          .page-header
            %h4
              = "#{question.question_no}."
              %span= question.description.gsub(/\n/, '<br/>').gsub(/\s+/, '&nbsp;').html_safe
              = hidden_field_tag "children_questions[#{index}][question_id]", question.question_id
              = hidden_field_tag "children_questions[#{index}][question_no]", question.question_no
          .radio
            = radio_button_tag("children_questions[#{index}][answer_caught]", question.option_1, question.option_1 == question.answer_caught)
            = label_tag(:label_1, question.option_1)
          .radio
            = radio_button_tag("children_questions[#{index}][answer_caught]", question.option_2, question.option_2 == question.answer_caught)
            = label_tag(:label_2, question.option_2)
          - if question.option_3.present?
            .radio
              = radio_button_tag("children_questions[#{index}][answer_caught]", question.option_3, question.option_3 == question.answer_caught)
              = label_tag(:label_3, question.option_3)
          - if question.option_4.present?
            .radio
              = radio_button_tag("children_questions[#{index}][answer_caught]", question.option_4, question.option_4 == question.answer_caught)
              = label_tag(:label_4, question.option_4)

