%tr
  - if current_user.faculty?
    %td= link_to schedule.exam_name, schedule
  - else
    %td= link_to schedule.exam_name, exam_entrance_schedule_path(schedule)
  %td= schedule.course_name
  %td= schedule.semister
  %td= schedule.formatted_exam_date_time
  %td= schedule.end_time
  %td= schedule.schedule_date
  %td= schedule.access_password
  - if pending
    %td
      %span.label.label-success{ "data-countdown".to_sym => "#{schedule.count_exam_date}"}
