.page-header
  %h4 Instructions
%ul.list-group
  %li Exam Consisting of #{@schedule.exam.no_of_questions} questions
  %li Exam Duration is #{@schedule.exam.duration.to_i} minutes
  - Instruction.belongs_to_all_and_exam(@schedule.exam.id).each do |instruction|
    %li= instruction.description


.row
  .col-sm-6.col-sm-offset-4
    %h3
      %span.label.label-primary{"data-countdown".to_sym => "#{@schedule.count_exam_date}"}
.row
  .pull-right
    = link_to "Take Exam", exam_schedule_path(@schedule), :class => "btn btn-danger", :id => "take_exam", :style => "display:none"
= render "entry_validation"
