.page-header
  %h4 Instructions
%ul.list-group
  %li Exam Consisting of #{@schedule.exam.no_of_questions} questions
  %li Exam Duration is #{@schedule.exam.duration.minutes.to_i} minutes
  %li Exam can be submitted at any time. Submit will redirects you to review page, where you can review all the questions 
  %li Exam will automatically submitted when the count down timer reahces 00:00
  %li Exam will be validated and results will be shown instantly after submission.
.row
  .col-sm-6.col-sm-offset-4
    %h3
      %span.label.label-primary{"data-countdown".to_sym => "#{@schedule.count_exam_date}"}
.row
  .pull-right
    = link_to "Take Exam", exam_schedule_path(@schedule), :class => "btn btn-danger", :id => "take_exam", :style => "display:none"
= render "entry_validation"
