.page-header
  %h4
    = "#{@question.question_no}."
    %span= @question.description.gsub(/\n/, '<br/>').gsub(/\s+/, '&nbsp;').html_safe
    .pull-right
      = link_to "Submit", "#", :class => "btn btn-primary", :rel => "question-nav-submit"
= form_tag(next_question_schedule_path(@schedule), :method => "post", :id => "ol_exam") do
  .row
    .col-sm-6
      - if @question.descriptive?
        = render "descriptive_answer"
      - else
        = render "mc_answer"
    .col-sm-6
      - if @question.digi_file_url.present?
        = render :partial => "multiple_choice_questions/audio_video_question", :locals => {:file_url => @question.digi_file_url}
    = hidden_field_tag :question_no, @question.question_no
    = hidden_field_tag :question_id, @question.question_id
    = hidden_field_tag :question_type, @question.question_type
    = hidden_field_tag :action_for

%ul.pager
  %li.previous{:class => "#{@question.question_no == 1 ? 'disabled' : ''}"}
    %a{:rel => "question-nav-prev"}
      %i.glyphicon.glyphicon-chevron-left
      = "Prev"
  %li.next
    %a{:rel => "question-nav-next"}
      = "Next"
      %i.glyphicon.glyphicon-chevron-right

.col-sm-2.pull-right
  %h4
    %span.label.label-danger{"data-end-countdown".to_sym => "#{@schedule.count_down_exam_end_time}", :id => "time-out-timer"}
