.page-header
  %h4
    = link_to "Active Schedules", schedules_path
    .pull-right
      - unless current_user.student?
        = link_to "Schedule Exam", new_schedule_path, :class => "btn btn-primary"

= render :partial => "schedules", :locals => {:data => @active_schedules, :pending => true }

.page-header
  %h4
    = link_to "Closed Schedules", schedules_path

= render :partial => "schedules", :locals => { :data => @closed_schedules, :pending => false }
