.page-header
  %h2 
    Review
    .pull-right
      = link_to "Submit", submit_exam_schedule_path(@schedule), :class => "btn btn-primary", :id => "submit_exam_link"
.col-sm-8.off
  %table
    %tbody
      - @schedule_details.each_with_index do |question, index|
        - if index%10 == 0
          %tr
        %td
          - icon_class = (question.question_type == 'audio' or question.question_type == 'video') ? "fa fa-microphone" : ""
          - if question.answer_caught.present?
            %span.label.label-success{:class => "#{}"}
              = link_to raw("<i class='#{icon_class}'>#{question.question_no}</i>"), next_question_schedule_path(:id => @schedule, :question_no =>question.question_no.to_i, :action_for => "current", :schedule_detail_id => question.id)
          - else
            %span.label.label-danger
              = link_to raw("<i class='#{icon_class}'>#{question.question_no}</i>"), next_question_schedule_path(:id => @schedule, :question_no =>question.question_no.to_i, :action_for => "current", :schedule_detail_id => question.id)
.row

.col-sm-2.pull-right
  %h4
    %span.label.label-danger{"data-end-countdown".to_sym => "#{@schedule.count_down_exam_end_time}", :id => "time-out-timer"}
