.page-header
  %h3
    = @schedule.exam_name
    .pull-right
      - if current_user.faculty?
        = link_to "Edit", edit_schedule_path(@schedule), :class => "btn btn-success"
        = link_to "Delete", @schedule, :class => "btn btn-danger", :data => {:confirm => "Are You Sure?", :method => :delete}

%table.table.table-bordered
  %thead
    %th Registration Date
    %th Exam Date and Time
    %th Exam End Time
    - if current_user.faculty?
      %th Access Password

  %tbody
    %tr
      %td= @schedule.schedule_date
      %td= @schedule.formatted_exam_date_time
      %td= @schedule.end_time
      - if current_user.faculty?
        %td= @schedule.access_password

.page-header
  %h3 Result
= render :partial => "result", :locals => {:result => Result.belongs_to_student_schedule(current_user.resource, @schedule).first}
