%ul.nav.nav-pills.nav-stacked
  - navigation_list.each do |item|
    - active_class = ''
    - active_class = 'active' if item.is_active
    - if item.item == 'Users'
      %li{:class => "#{user_management? ? 'active' : ''}", :id => "#{item.item}"}
        %a{:href => "#collapseUser", :data => { :toggle => "collapse", :parent => "#accordion"}}
          %i{ :class => item.icon }
            = item.item
        #collapseUser{:class => "panel-collapse collapse in"}
          %ul.nav.nav-pills.nav-stacked
            %li{:class => faculty.is_active ? "active" : ""}
              = link_to raw("<i class = '#{faculty.icon}'></i> #{faculty.item}"), faculty.link
            %li{:class => students.is_active ? "active" : ""}
              = link_to raw("<i class = '#{students.icon}'></i> #{students.item}"), students.link
            %li{:class => admin.is_active ? "active" : ""}
              = link_to raw("<i class = '#{admin.icon}'></i> #{admin.item}"), admin.link
    - else
      %li{:class => active_class, :id => "#{item.item}"}
        %a{ :href =>  item.link}
          %i{ :class => item.icon }
            = item.item
