%table.table.table-bordered.table-hover
  %thead
    - if current_user.student?
      %th Exam
      %th Semester
    - else
      %th Roll Number
      %th Name
    %th Total Marks
    %th Secured Marks
    %th Exam Date
    %th Result
  %tbody
    - results.each do |result|
      %tr
        - if current_user.student?
          %td= link_to result.exam_name, result_in_detail_result_path(result)
          %td= result.semester
        - else
          %td= link_to result.student_roll_number, result_in_detail_result_path(result)
          %td= result.student_name

        %td= result.total_marks
        %td= result.marks_secured
        %td= result.exam_date
        %td= result.exam_result
