.page-header
  %h2=  raw "#{link_to @exam.exam_name, @exam}: Edit Question"

= form_for [@exam, @question], :html => { :class => "form-horizontal", :role => "form", :method => "put" } do |f|
  = render "shared/error_messages", :object => f.object
  .col-sm-7
    .form-group
      = f.label "Question", :class => 'col-sm-4 control-label'
      .col-sm-8
        = f.text_area :description, :class => 'form-control', :autofocus => true
    .form-group
      = f.label "Answer", :class => 'col-sm-4 control-label'
      .col-sm-8
        = f.text_field :answer, :class => 'form-control'
  .col-sm-5
    = f.fields_for :audio_video_question do |f|
      = render "multiple_choice_questions/audio_video_question_form", :f => f
  .form-group
    .col-sm-3.col-sm-offset-4
      = f.submit "Update", :class => 'btn btn-primary'
  
