.page-header
  %h2
    = link_to "Upload Fill in The Blanks: Questions", "#"
%p
  A Csv or Exel can be uploaded. First row should have the column names

= form_for @upload_question, :url => upload_exam_descriptive_questions_path, :multipart => true, :html => { :class => "form"} do |f|
  = render "shared/error_messages", :object => f.object
  .panel.panel-info
    .panel-heading
      %h5 Fill in the blank Questions
    .panel-body
      %strong Columns: &nbsp;
      description, answer
      %strong.pull-right
        = link_to "Download Template", xls_template_descriptive_exam_descriptive_questions_path(@exam, :format => :xls)
      .form-group
        .col-sm-3.col-sm-offset-3
          = f.file_field :file

  .col-sm-8.offset-4
    = f.hidden_field :exam_id
    .col-sm-6
      = f.submit "Upload", :class => "btn btn-primary pull-right"
