%form{:method => 'get' , :class => "form-inline", :id => "exam_results", :ng_submit => "searchOnStudent()"}
  .form-group.col-sm-5.col-sm-offset-1
    = autocomplete_field_tag :search_term,
    '',
    "auto_search/autocomplete_student_roll_number?exam_id= {{examId}}&schedule_date={{scheduleDate}}",
    :placeholder => "Student Roll No", :class => 'form-control',
    :id_element => "#studentId"
    = hidden_field_tag :student, "",:id => "studentId", :ng_model => "studentId"

  .col-sm-4
    = submit_tag "Go", :name => nil, :class => "btn-primary btn"
    = link_to "Print", "#", :class => "btn-primary btn", :rel => "print-report", :ng_click => "print()"
    = link_to "Email", "#", :class => "btn-primary btn", :rel => "mail-result", :ng_click => "composeMail()"

      
.modal.fade.bs-example-modal-sm{ :id => "mailModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
        %h4.modal-title{ :id => "myModalLabel"} E-Mail
      .modal-body
        %form{:method => 'get' , :class => "form-horizantal", :id => "mail_results", :ng_submit => "mail()"}
          .form-group
            = text_field_tag :email, "", :class => 'form-control', :placeholder => "To", :type => "email", :required => true, :ng_model => "mailTemplate.email", :multiple => "true"
            (Separate multiple emails with comma(,))
          .form-group
            = text_field_tag :subject, "", :class => 'form-control', :placeholder => "Subject", :required => true, :ng_model => "mailTemplate.subject"
          .form-group
            = text_area_tag :content, "", :class => 'mail-content form-control', :placeholder => "Content", :ng_model => "mailTemplate.content"

          .form-group.col-md-offset-10
            = submit_tag "Send", :name => nil, :class => "btn-primary btn"

       
