= form_for [@exam, @question], :html => { :class => "form-horizontal", :role => "form" } do |f|
  = render "shared/error_messages", :object => f.object
  .col-sm-7
    .form-group
      = f.label "Question", :class => 'col-sm-4 control-label'
      .col-sm-8
        = f.text_area :description, :class => 'form-control', :autofocus => true
      - if @exam.fill_in_blanks.present? and @exam.fill_in_blanks > 0
        .form-group
          = f.label "Descriptive", :class => 'col-sm-4 control-label'
          .col-sm-3
            = f.check_box :is_descriptive, :class => 'form-control', :rel => "is-descriptive"
    #question-options{:style => 'display:none'}
      = render "question_options", :form => f
    .form-group
      = f.label "Answer", :class => 'col-sm-4 control-label'
      .col-sm-8
        = f.text_field :answer, :class => 'form-control'
  .col-sm-5
    = f.fields_for :audio_video_question do |f|
      = render "audio_video_question_form", :f => f
        

  .col-sm-6.col-sm-offset-3
    = f.submit "Create", :class => 'btn btn-primary'
    = link_to "Cancel", @exam, :class => 'btn btn-primary'
