.form-group
  = form.label "Option 1", :class => 'col-sm-4 control-label'
  .col-sm-8
    = form.text_field :option_1, :class => 'form-control'
.form-group
  = form.label "Option 2", :class => 'col-sm-4 control-label'
  .col-sm-8
    = form.text_field :option_2, :class => 'form-control'
.form-group
  = form.label "Option 3", :class => 'col-sm-4 control-label'
  .col-sm-8
    = form.text_field :option_3, :class => 'form-control'
.form-group
  = form.label "Option 4", :class => 'col-sm-4 control-label'
  .col-sm-8
    = form.text_field :option_4, :class => 'form-control'
