%tr
  %td= data.id
  %td= link_to data.description, exam_multiple_choice_question_path(data.exam, data)
  %td= data.option_1
  %td= data.option_2
  %td= data.option_3
  %td= data.option_4
  %td= data.answer
