= render "question_header"
.col-md-12
  %table.table.table-bordered.table-reponsive
    %thead
      %th Option 1
      %th Option 2
      %th Option 3
      %th Option 4
    %tbody
      %tr
        %td= @question.option_1
        %td= @question.option_2
        %td= @question.option_3
        %td= @question.option_4

.col-sm-5
  %table.table.table-bordered
    %tbody
      %tr
        %td.success Answer
        %td= @question.answer

- if @question.audio_video_question.present?
  .col-md-7
    = render :partial => "multiple_choice_questions/audio_video_question", :locals => {:file => @question.audio_video_question}
