.page-header
  %h2
    = link_to "Upload Multiple Choice: Questions", "#"
%p
  A Csv or Exel can be uploaded. First row should have the column names
= form_for @upload_question, :url => upload_exam_multiple_choice_questions_path, :multipart => true, :html => { :class => "form"} do |f|
  = render "shared/error_messages", :object => f.object
  .panel.panel-info
    .panel-body
      %strong Columns Required: &nbsp;
      description, option_1, option_2, option_3, option_4, answer
      %strong.pull-right
        = link_to "Download Template", xls_template_exam_multiple_choice_questions_path(@exam, :format => :xls)
      .form-group
        .col-sm-3
          = f.file_field :file
        .col-sm-3
          = f.submit "Upload", :class => "btn btn-primary pull-right"
        .col-sm-3
          = f.hidden_field :exam_id
