.page-header
  %h4 Pass Criteria
.col-md-6.col-xs-6
  .form-group
    .col-md-6
      = f.text_field :pass_criteria_1, :class => 'form-control', :placeholder => "Numeric Pass Criteria 1 "
    .col-md-6
      = f.text_field :pass_criteria_2, :class => 'form-control', :placeholder => "Numeric Pass Criteria 2"

  .form-group
    .col-md-6
      = f.text_field :pass_text_1, :class => 'form-control', :placeholder => "Pass Text 1"
    .col-md-6
      = f.text_field :pass_text_2, :class => 'form-control', :placeholder => "Pass Text 2"
.col-md-6.col-xs-6
  .form-group
    .col-md-6
      = f.text_field :pass_criteria_3, :class => 'form-control', :placeholder => "Numeric Pass Criteria 3"
    .col-md-6
      = f.text_field :pass_criteria_4, :class => 'form-control', :placeholder => "Numeric Pass Criteria 4"
  .form-group
    .col-md-6
      = f.text_field :pass_text_3, :class => 'form-control', :placeholder => "Pass Text 3"
    .col-md-6
      = f.text_field :pass_text_4, :class => 'form-control', :placeholder => "Pass Text 4"
