%table.table.table-bordered
  %thead
    %th Course
    %th Subject
    %th Semester
    %th Exam Duration(Mins)
    %th Total Questions
  %tbody
    %tr
      %td= data.course.name
      %td= data.subject
      %td= data.semester
      %td= data.duration
      %td= data.no_of_questions

.col-md-5
  %table.table.table-bordered
    %thead
      %th Criteria
      %th Description
    %tbody
      %tr.success
        %td= data.pass_criteria_1
        %td= data.pass_text_1
      %tr.info
        %td= data.pass_criteria_2.present? ? data.pass_criteria_2 : "--"
        %td= data.pass_text_2.present? ? data.pass_text_2 : "--"
      %tr.warning
        %td= data.pass_criteria_3.present? ? data.pass_criteria_3 : "--"
        %td= data.pass_text_3.present? ? data.pass_text_3 : "--"
      %tr.danger
        %td= data.pass_criteria_4.present? ? data.pass_criteria_4 : "--"
        %td= data.pass_text_4.present? ? data.pass_text_4 : "--"
      %tr.danger
        %td= data.pass_criteria_5.present? ? data.pass_criteria_5 : "--"
        %td= data.pass_text_5.present? ? data.pass_text_5 : "--"
      %tr.danger
        %td= data.pass_criteria_6.present? ? data.pass_criteria_6 : "--"
        %td= data.pass_text_6.present? ? data.pass_text_6 : "--"
.col-md-5.pull-right
  %table.table.table-bordered
    %tbody
      %tr.info
        %th= "Negative Mark"
        %td= data.negative_mark
  %br
  %table.table.table-bordered
    %thead
      %th Type
      %th Total
      %th Mark/qn
    %tbody
      %tr.info
        %th= "Multiple Question"
        %td= data.multiple_choice
        %td= data.mark_per_mc
      %tr.warning
        %th= "Fill in the blanks"
        %td= data.fill_in_blanks
        %td= data.mark_per_fib
