= render "search"

%table.table.table-stripped
  %thead
    %th Exam Name
    %th Subject
    %th semister
    %th course
  %tbody
    - @exams.each do |exam|
      %tr
        %td= link_to exam.exam_name, exam
        %td= exam.subject
        %td= exam.semister
        %td= exam.course.name
