!!!
%html
  %head
    %title Online Exam
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true
  = csrf_meta_tags

  %body
    = render "shared/header"
    .container.panel.panel-default
      #body
        - if user_signed_in?
          .col-md-2.sidebar-offcanvas
            = render "shared/navigation_list"
          .col-md-10
            %div
              %section
                - flash.each do |key, value|
                  = content_tag(:div,value,:class => "#{flash_alert_class(key)}")
              = render "shared/bread_crumb"
            = yield
        - else
          .col-md-12
            = yield
